<!DOCTYPE html>
<html>
  <head>
    <title>ReDoc</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="static/redoc/fonts/fonts.css" rel="stylesheet">
    <style>
      body {
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <redoc spec-url="/v{{version}}/ix-api-latest.json"></redoc>
    <script src="/static/redoc/js/redoc.standalone.js"> </script>
  </body>
</html>
